.table-container {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-container tr:hover {
  background-color: #ddd;
}
