/* Styles.css */
.main-container {
  max-height: 80vh;
  overflow-y: scroll;
}
.app-container {
  width: 100%;
  min-height: 100vh; /* Full viewport height */
}

/* EnrollmentList.css */
.table-container {
  width: 100%;

  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.table-container thead tr {
  position: sticky;
  z-index: 10;
  top: 0;
}

.table-container th {
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #4caf50;
  color: white;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-container tr:hover {
  background-color: #ddd;
}
.container {
  height: 100vh;
}
